@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
/**
 * Archivo principal LESS
 */
@font-face {
  font-family: "songforge";
  src: url("../fonts/songforge.eot");
  src: url("../fonts/songforge.eot?#iefix") format("embedded-opentype"), url("../fonts/songforge.woff") format("woff"), url("../fonts/songforge.ttf") format("truetype"), url("../fonts/songforge.svg#songforge") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "songforge" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="song-icon-"]:before,
[class*=" song-icon-"]:before {
  font-family: "songforge" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.song-icon-blanca:before {
  content: "a";
}
.song-icon-musical48:before {
  content: "b";
}
.song-icon-negra:before {
  content: "c";
}
.song-icon-redonda:before {
  content: "d";
}
.song-icon-listmusic:before {
  content: "e";
}
.song-icon-sol:before {
  content: "f";
}
.song-icon-do:before {
  content: "h";
}
.song-icon-music:before {
  content: "i";
}
body {
  background-color: #eee;
  overflow: hidden;
}
#content {
  min-height: 34em;
  margin-top: 30px;
}
#btnAdd {
  margin-right: 4em;
  margin-top: 1em;
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
}
#btnAdd i {
  top: -1px;
  font-size: 28px;
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
}
#btnAdd.active i {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
#btnAdd.disabled {
  background-color: #3CC582;
}
#btnAddSound {
  margin-right: 8px;
  margin-top: 1em;
}
#addSound {
  padding: 10px;
  font-size: 24px;
}
.lead {
  margin-left: 40px;
  margin-top: -11px;
}
.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  vertical-align: middle;
}
.logo {
  color: #0f9d58;
}
.soundsContainer {
  display: none;
}
.soundsContainer .panel-body {
  height: 254px;
  overflow: auto;
}
.soundsContainer .sound-element {
  margin: 3px;
}
.soundsContainer .sound-element .text {
  font-size: 22px;
  margin-top: -1px;
  margin-left: -3px;
}
.soundsContainer .sound-element .text .duracion {
  font-size: 13px;
  color: #D0CECE;
}
.songContainer {
  display: none;
}
.songContainer .panel-body {
  height: 325px;
  overflow: auto;
}
.songContainer .panel-footer {
  padding: 5px 15px;
}
.songContainer.active .panel-element:hover #close {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.songContainer .panel-element {
  width: 75px;
  height: 70px;
  display: -webkit-inline-box;
  margin-bottom: 3px;
  margin-right: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #404048;
  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 0;
  border: 0.125rem solid #404048;
  position: relative;
  -webkit-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
}
.songContainer .panel-element:hover {
  color: #15d880;
  border-color: #15d880;
}
.songContainer .panel-element:hover #close {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.songContainer .panel-element:hover .text .duracion {
  color: #15d880 !important;
}
.songContainer .panel-element.active {
  color: #15d880;
  border-color: #15d880;
  box-shadow: 0 0 0.75rem -0.125rem #15d880;
  -ms-transform: translateY(0.0625rem);
  -webkit-transform: translateY(0.0625rem);
  transform: translateY(0.0625rem);
}
.songContainer .panel-element.active .text .duracion {
  color: #15d880 !important;
}
.songContainer .panel-element #close {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.songContainer .panel-element .text {
  font-size: 30px;
  margin-top: 29px;
}
.songContainer .panel-element .text .duracion {
  font-size: 13px;
  color: #846767;
}
.songContainer .panel-element .close-element {
  width: 21px;
  height: 21px;
  padding: 3px;
  font-size: 15px;
  top: -52px;
  float: right;
  left: 35px;
}
.songContainer #volumen {
  width: 30%;
  margin-left: 9px;
  min-width: 100px;
  display: inline-block;
}
.songContainer #play {
  position: relative;
  display: block;
  margin: -54px auto 0px auto;
}
.songContainer #save {
  display: inline-block;
  margin-top: -40px;
}
.header-new {
  display: none;
}
.pagination {
  margin: auto;
  position: relative;
  float: none;
  display: table;
}
.pagination > li > a,
.pagination > li > span {
  color: #0f9d58;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0f9d58;
  border-color: #428bca;
}
.table-container-sound {
  margin-top: -51px;
  height: 330px;
}
.table-container {
  height: 330px;
}
.page-header {
  margin: 12px 0 20px;
}
.partitura {
  padding: 0.3% 2%;
}
.partitura .pentagram {
  height: auto;
  width: 100%;
  position: relative;
  margin-top: 5%;
}
.partitura .pentagram:first-child .line {
  padding-left: 8%;
}
.partitura .pentagram:first-child .division {
  left: 10%;
}
.partitura .pentagram .sol {
  background-image: url('../img/sol.png');
  position: absolute;
  height: 144%;
  width: 5%;
  margin-top: -2.8%;
  margin-left: 13px;
  background-size: 100% 100%;
  z-index: 2;
}
.partitura .pentagram .compas {
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  left: 9%;
  top: 28%;
  font-size: 17px;
}
.partitura .pentagram .compas span {
  display: block;
  margin-bottom: -4px;
}
.partitura .pentagram .line {
  border: 1px solid white;
  width: 100%;
  margin: 0.9% 0px;
}
.partitura .pentagram .line:nth-of-type(odd) {
  border: 1px solid black;
}
.partitura .pentagram .line .note {
  position: absolute;
  -webkit-transition: all 0.08s ease-in-out;
  transition: all 0.08s ease-in-out;
}
.partitura .pentagram .line .note.active {
  color: #80CDA4;
  -webkit-animation-name: tada;
  animation-name: tada;
}
.partitura .pentagram .line .song-icon-blanca,
.partitura .pentagram .line .song-icon-negra {
  margin-top: -3.4%;
  font-size: 236%;
}
.partitura .pentagram .line .song-icon-redonda {
  font-size: 185%;
  margin-top: -1.6%;
}
.partitura .pentagram .line .song-icon-music {
  font-size: 270%;
  margin-top: -3.5%;
}
.partitura .pentagram .note-24 {
  margin-left: 100%;
}
.partitura .pentagram .note-23 {
  margin-left: 95.83333333%;
}
.partitura .pentagram .note-22 {
  margin-left: 91.66666667%;
}
.partitura .pentagram .note-21 {
  margin-left: 87.5%;
}
.partitura .pentagram .note-20 {
  margin-left: 83.33333333%;
}
.partitura .pentagram .note-19 {
  margin-left: 79.16666667%;
}
.partitura .pentagram .note-18 {
  margin-left: 75%;
}
.partitura .pentagram .note-17 {
  margin-left: 70.83333333%;
}
.partitura .pentagram .note-16 {
  margin-left: 66.66666667%;
}
.partitura .pentagram .note-15 {
  margin-left: 62.5%;
}
.partitura .pentagram .note-14 {
  margin-left: 58.33333333%;
}
.partitura .pentagram .note-13 {
  margin-left: 54.16666667%;
}
.partitura .pentagram .note-12 {
  margin-left: 50%;
}
.partitura .pentagram .note-11 {
  margin-left: 45.83333333%;
}
.partitura .pentagram .note-10 {
  margin-left: 41.66666667%;
}
.partitura .pentagram .note-9 {
  margin-left: 37.5%;
}
.partitura .pentagram .note-8 {
  margin-left: 33.33333333%;
}
.partitura .pentagram .note-7 {
  margin-left: 29.16666667%;
}
.partitura .pentagram .note-6 {
  margin-left: 25%;
}
.partitura .pentagram .note-5 {
  margin-left: 20.83333333%;
}
.partitura .pentagram .note-4 {
  margin-left: 16.66666667%;
}
.partitura .pentagram .note-3 {
  margin-left: 12.5%;
}
.partitura .pentagram .note-2 {
  margin-left: 8.33333333%;
}
.partitura .pentagram .note-1 {
  margin-left: 4.16666667%;
}
.partitura .pentagram .division {
  position: absolute;
  top: 10%;
  left: 2%;
  height: 80%;
  border: 1px solid #545454;
}
